# Titanic2 Neatbook
#### Get Data

In [1]:
import pandas as pd
import numpy as np

# Get data here
df = pd.read_csv("train.csv") ## Edit: Your dataset
print(df.describe(include = [np.number]))
print(df.describe(include = ['O']))
print(df.dtypes)
df.head()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
                                  Name   Sex  Ticket    Cabin Embarked
count                              891   891     891      204      889
unique                             891     2     681      147        3
top     O'Sullivan, Miss. Bridget Mary  male  347082  B96 B98        S
freq                                 1   577       7        4      644
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Initialize variables

In [2]:
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(df.drop(['Survived'], axis=1), ## Edit: Replace class with the Y column name
                                                    df['Survived'], train_size=0.75, test_size=0.25) ## Edit: Same

indexColumns = ['PassengerId'] ## Edit: Optionally add column names
skipColumns = [] ## Edit: Optionally add column names

print("trainX\n")
print(trainX.head())
print("\ntrainY\n")
print(trainY.head())

trainX

     PassengerId  Pclass                          Name     Sex   Age  SibSp  \
877          878       3          Petroff, Mr. Nedelio    male  19.0      0
667          668       3    Rommetvedt, Mr. Knud Paust    male   NaN      0
349          350       3              Dimic, Mr. Jovan    male  42.0      0
353          354       3     Arnold-Franchi, Mr. Josef    male  25.0      1
172          173       3  Johnson, Miss. Eleanor Ileen  female   1.0      1

     Parch  Ticket     Fare Cabin Embarked
877      0  349212   7.8958   NaN        S
667      0  312993   7.7750   NaN        S
349      0  315088   8.6625   NaN        S
353      0  349237  17.8000   NaN        S
172      1  347742  11.1333   NaN        S

trainY

877    0
667    0
349    0
353    0
172    1
Name: Survived, dtype: int64

#### Clean Data

In [3]:
from neatbook.neat import *

# Clean training set
neat =  Neat(trainX, trainY, indexColumns, skipColumns)
cleanTrainX = neat.df
cleanTrainY = neat.trainY

# Clean test set
neat.cleanNewData(testX)
cleanTestX = neat.df
cleanTestY = neat.getYAsNumber(testY)

print("Cleaning done")

Cleaning done

#### Review Cleaned Data

In [4]:
print(cleanTrainX.describe(include = [np.number]))
print(cleanTrainX.head())

print(cleanTrainY)


print(cleanTestX.describe(include = [np.number]))
print(cleanTestX.head())


print(cleanTestY)

           pclass         age       sibsp  parch        fare  name___Other  \
count  668.000000  668.000000  668.000000  668.0  668.000000         668.0
mean     2.293413   29.300898    0.390719    0.0   21.188747           1.0
std      0.841655    9.769036    0.627962    0.0   14.771552           0.0
min      1.000000   13.500000    0.000000    0.0    1.350000           1.0
25%      1.750000   23.000000    0.000000    0.0    7.925000           1.0
50%      3.000000   28.500000    0.000000    0.0   14.500000           1.0
75%      3.000000   35.000000    1.000000    0.0   30.500000           1.0
max      3.000000   47.500000    2.000000    0.0   46.500000           1.0

       sex__female   sex__male  ticket___Other  cabin___Other  embarked__C  \
count   668.000000  668.000000           668.0          668.0   668.000000
mean      0.366766    0.633234             1.0            1.0     0.197605
std       0.482283    0.482283             0.0            0.0     0.398491
min       0.000000    0.000000             1.0            1.0     0.000000
25%       0.000000    0.000000             1.0            1.0     0.000000
50%       0.000000    1.000000             1.0            1.0     0.000000
75%       1.000000    1.000000             1.0            1.0     0.000000
max       1.000000    1.000000             1.0            1.0     1.000000

       embarked__Q  embarked__S  embarked___Other
count   668.000000   668.000000        668.000000
mean      0.089820     0.709581          0.002994
std       0.286138     0.454296          0.054677
min       0.000000     0.000000          0.000000
25%       0.000000     0.000000          0.000000
50%       0.000000     1.000000          0.000000
75%       0.000000     1.000000          0.000000
max       1.000000     1.000000          1.000000
                 pclass   age  sibsp  parch     fare  name___Other  \
passengerid _id
878         1         3  19.0      0      0   7.8958             1
668         2         3  28.5      0      0   7.7750             1
350         3         3  42.0      0      0   8.6625             1
354         4         3  25.0      1      0  17.8000             1
173         5         3  13.5      1      0  11.1333             1

                 sex__female  sex__male  ticket___Other  cabin___Other  \
passengerid _id
878         1              0          1               1              1
668         2              0          1               1              1
350         3              0          1               1              1
354         4              0          1               1              1
173         5              1          0               1              1

                 embarked__C  embarked__Q  embarked__S  embarked___Other
passengerid _id
878         1              0            0            1                 0
668         2              0            0            1                 0
350         3              0            0            1                 0
354         4              0            0            1                 0
173         5              0            0            1                 0
[0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0
 0 1 0 1 1 0 0 0 1 0 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1 0 1 1 1 0 1 0 1
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 0 0 0 0 1 0
 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 1 0 0 0 1 1 1 0 1 1 1 0 0 1 0 1 0 0 1 1 1 1
 1 1 1 0 1 1 1 0 1 0 1 0 1 0 0 1 0 1 0 0 1 1 1 1 0 1 1 0 0 1 0 0 1 0 0 1 0
 1 0 0 0 0 1 1 0 1 0 0 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 0 0 1 1
 1 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 1 0 1 0 1 0 1 1 0 1 0 0 1 1 1 0 0 0 1 1 1
 0 1 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 0
 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0
 1 1 1 0 1 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 0 1 1 0 0 0 0 1 1 1 0 1
 0 0 1 1 1 1 1 0 0 1 0 0 0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0
 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 0 1 1 1 0 0 1 1 0 1
 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0
 1 1 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0
 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 1 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1
 0 1]
           pclass         age       sibsp  parch        fare  name___Other  \
count  223.000000  223.000000  223.000000  223.0  223.000000         223.0
mean     2.354260   29.253363    0.430493    0.0   20.879352           1.0
std      0.819287   10.303488    0.666687    0.0   15.603083           0.0
min      1.000000   13.500000    0.000000    0.0    1.350000           1.0
25%      2.000000   21.000000    0.000000    0.0    7.895800           1.0
50%      3.000000   28.500000    0.000000    0.0   13.000000           1.0
75%      3.000000   36.000000    1.000000    0.0   34.687500           1.0
max      3.000000   47.500000    2.000000    0.0   46.500000           1.0

       sex__female   sex__male  ticket___Other  cabin___Other  embarked__C  \
count   223.000000  223.000000           223.0          223.0   223.000000
mean      0.309417    0.690583             1.0            1.0     0.161435
std       0.463293    0.463293             0.0            0.0     0.368759
min       0.000000    0.000000             1.0            1.0     0.000000
25%       0.000000    0.000000             1.0            1.0     0.000000
50%       0.000000    1.000000             1.0            1.0     0.000000
75%       1.000000    1.000000             1.0            1.0     0.000000
max       1.000000    1.000000             1.0            1.0     1.000000

       embarked__Q  embarked__S  embarked___Other
count   223.000000   223.000000             223.0
mean      0.076233     0.762332               0.0
std       0.265968     0.426612               0.0
min       0.000000     0.000000               0.0
25%       0.000000     1.000000               0.0
50%       0.000000     1.000000               0.0
75%       0.000000     1.000000               0.0
max       1.000000     1.000000               0.0
                 pclass   age  sibsp  parch     fare  name___Other  \
passengerid _id
89          1         1  23.0      2      0  46.5000             1
203         2         3  34.0      0      0   6.4958             1
206         3         3  13.5      0      0  10.4625             1
463         4         1  47.0      0      0  38.5000             1
188         5         1  45.0      0      0  26.5500             1

                 sex__female  sex__male  ticket___Other  cabin___Other  \
passengerid _id
89          1              1          0               1              1
203         2              0          1               1              1
206         3              1          0               1              1
463         4              0          1               1              1
188         5              0          1               1              1

                 embarked__C  embarked__Q  embarked__S  embarked___Other
passengerid _id
89          1              0            0            1               0.0
203         2              0            0            1               0.0
206         3              0            0            1               0.0
463         4              0            0            1               0.0
188         5              0            0            1               0.0
[1 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0
 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1 1 1 0 0 0 0 1
 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0
 1 0 0 1 1 1 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 1 0 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 0 0 1 1 1 0 0 1 1 0 1 0 0 1 0 1
 0 0 0 1 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1
 0]

#### Run TPOT

In [5]:
from tpot import TPOTClassifier

tpot = TPOTClassifier(max_time_mins=20, ## Edit: Set to 480 to train for 8 hours
                      population_size=100, max_eval_time_mins=5, verbosity=2)
tpot.fit(cleanTrainX, cleanTrainY)
print(tpot.score(cleanTestX, cleanTestY))
tpot.export('tpot_pipeline.py')

print("\n\nTPOT is done.")

Version 0.9.1 of tpot is outdated. Version 0.9.2 was released 4 days ago.
Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

Optimization Progress: 100%|██████████| 200/200 [01:35<00:00,  2.56pipeline/s]

Generation 1 - Current best internal CV score: 0.8203119739647626

Optimization Progress: 100%|██████████| 300/300 [02:40<00:00,  1.49pipeline/s]

Generation 2 - Current best internal CV score: 0.8203119739647626

Optimization Progress: 100%|██████████| 400/400 [04:03<00:00,  1.05pipeline/s]

Generation 3 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 500/500 [05:29<00:00,  1.44s/pipeline]

Generation 4 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 600/600 [07:07<00:00,  1.41pipeline/s]

Generation 5 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 700/700 [08:59<00:00,  1.11pipeline/s]

Generation 6 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 800/800 [10:40<00:00,  1.18s/pipeline]

Generation 7 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 900/900 [13:07<00:00,  1.14s/pipeline]

Generation 8 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 1000/1000 [15:19<00:00,  1.12s/pipeline]

Generation 9 - Current best internal CV score: 0.8292896420154865

Optimization Progress: 100%|██████████| 1100/1100 [17:40<00:00,  1.78s/pipeline]

Generation 10 - Current best internal CV score: 0.8308046234990462

Optimization Progress: 100%|██████████| 1200/1200 [19:29<00:00,  1.03pipeline/s]

Generation 11 - Current best internal CV score: 0.8308046234990462

20.033862016666667 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: RandomForestClassifier(input_matrix, bootstrap=True, criterion=gini, max_features=0.4, min_samples_leaf=1, min_samples_split=14, n_estimators=100)
0.838565022422


TPOT is done.

## Run this after TPOT is done

Creates the Python_Training_Test.py file.  That file creates the optional Python_Test.py file.

- **Python_Training_Test.py:** Train the model from TPOT.  Test it on a test set.
- **Python_Test.py:** Used to test new data without model training.  The model is saved to disk during the Python_Training_Test.py script run.

In [6]:
with open('Python_Training_Test.py', 'w') as fileOut:
    with open('tpot_pipeline.py', 'r') as fileIn:
        for line in fileIn:
            if line.startswith("import") or line.startswith("from "):
                fileOut.write(line)
    fileOut.write("""from neatbook.neat import *
from sklearn.metrics import confusion_matrix
import pickle


##### IF YOU HAVE 1 DATASET UNCOMMENT THIS CODE: #####

# df = pd.read_csv('iris.csv') ## Edit: Your dataset
# className = 'class' ## Edit: Replace class with the Y column name
# trainX, testX, trainY, testY = train_test_split(df.drop([className], axis=1),
#                                                     df[className], train_size=0.75, test_size=0.25)

#######################################################

##### IF YOU HAVE 2 DATASETS UNCOMMENT THIS CODE: #####

# trainDf = pd.read_csv('train_iris.csv') ## Edit: Your dataset
# testDf = pd.read_csv('test_iris.csv') ## Edit: Your dataset

# className = 'class' ## Edit: Replace class with the Y column name
# trainX = trainDf.drop([className], axis=1)
# trainY = trainDf[className]
# testX = testDf.drop([className], axis=1)
# testY = testDf[className]

#######################################################

################### Set Variables: ####################

indexColumns = [] ## Edit: Optionally add column names
skipColumns = [] ## Edit: Optionally add column names

#######################################################

####################### Clean: ########################

# Clean training set
neat =  Neat(trainX, trainY, indexColumns, skipColumns)
cleanTrainX = neat.df
cleanTrainY = neat.trainY

# Clean test set
neat.cleanNewData(testX)
cleanTestX = neat.df
cleanTestY = neat.getYAsNumber(testY)

#######################################################

###################### Pipeline: ######################

""")

showNextLines = False
with open('Python_Training_Test.py', 'a') as fileOut:
    with open('tpot_pipeline.py', 'r') as fileIn:
        for line in fileIn:
            if line.startswith("# Score"):
                showNextLines = True
            elif showNextLines and not line.startswith("exported_pipeline.fit") and not line.startswith("results"):
                fileOut.write(line)

with open('Python_Training_Test.py', 'a') as fileOut:
    fileOut.write("""exported_pipeline.fit(trainX, trainY)
results = exported_pipeline.predict(testX)

#######################################################

################## Confusion Matrix: ##################

print("Confusion Matrix:\n")
print(confusion_matrix(cleanTestY, results))

#######################################################

############ Create Python_Test.py File: ##############

def save_object(obj, filename):
    with open(filename, 'wb') as output:
        pickle.dump(obj, output, pickle.HIGHEST_PROTOCOL)

save_object(neat, 'neat.pkl')
save_object(exported_pipeline, 'exported_pipeline.pkl')
save_object(indexColumns, 'indexColumns.pkl')
save_object(skipColumns, 'skipColumns.pkl')
save_object(className, 'className.pkl')


with open('Python_Test.py', 'w') as fileOut:
    fileOut.write(\"\"\"
#################### Get Dataset: #####################

testDf = pd.read_csv('test_iris.csv') ## Edit: Your dataset
testX = testDf.drop([className], axis=1)

#######################################################

################### Set Variables: ####################

with open('neat.pkl', 'rb') as input:
    neat = pickle.load(input)
with open('exported_pipeline.pkl', 'rb') as input:
    exported_pipeline = pickle.load(input)
with open('indexColumns.pkl', 'rb') as input:
    indexColumns = pickle.load(input)
with open('skipColumns.pkl', 'rb') as input:
    skipColumns = pickle.load(input)
with open('className.pkl', 'rb') as input:
    className = pickle.load(input)

#######################################################

####################### Clean: ########################

neat.cleanNewData(testX)
cleanTestX = neat.df

#######################################################

###################### Predict: #######################

results = exported_pipeline.predict(cleanTestX)
resultsDf = pd.DataFrame(results)
submitDf = pd.concat([testDf, resultsDf], axis=1)
submitDf.to_csv('./submit.csv')
print("Done")
print(results)

#######################################################

#######################################################
\"\"\"
""")

print("Done creating your Python_Training_Test.py")

Done creating your Python_Training_Test.py